<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294293674906-ui4g08mbtj0l5fuu6pk7kt38kc2bdh81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294293674906-ui4g08mbtj0l5fuu6pk7kt38kc2bdh81</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>294293674906-eppn2joh9p5brmt97ciaputfq2rc2ceu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKszrUGpTZKJY00Y04-qk4KQ8wGco41HI</string>
	<key>GCM_SENDER_ID</key>
	<string>294293674906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.pdis.rocketchat</string>
	<key>PROJECT_ID</key>
	<string>pdis-rocketchat</string>
	<key>STORAGE_BUCKET</key>
	<string>pdis-rocketchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294293674906:ios:0828a5aa215740b746b823</string>
	<key>DATABASE_URL</key>
	<string>https://pdis-rocketchat.firebaseio.com</string>
</dict>
</plist>